/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size: 130%;
	background-image: url("../images/bg.jpeg");
	background-color: #121212;
	font-family: 'Poppins', serif;
}


/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
}


.active{
	background: white;
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
}
.box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.bar-container {
	width: 100%;
	height:8px;
	background: #ccc;
}
.bar {
	top：0；
	height:8px;
	background: #04AA6D;
	width: 0%;
}
.grid {
	display: grid;
	max-width: 100vw;
	grid-template-columns: 1fr 1fr 1fr; 
}

.grid > img {
	width: auto;
	height: 200px;
}

/*Style the images*/
img{
	width: auto;
	height:100%;
    border: 3px solid #321450;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}
img:hover {
	filter:grayscale();
	border: 3px dotted #f887ff;
}
#anim {
	animation: ani 5s;
}
@keyframes ani {
	from {width: 0%; opacity: 0}
	to {width: 200px; opacity: 1}

}
@media screen and (prefers-reduced-motion: reduce){
	#anim {
	animation: initial;
	}
}
label,input {
	display: block;
}
/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
div, legend, label, p, h1, h2 {
    padding: 10px;
    color: white;

}

/*Add borders around the main components and some
space too*/
main, h1, footer{
	margin: 10px 0;
}
nav {
	margin-top: 80px;
}

/*Change the styling for all of the list 
items in the nav section*/
nav li{
	color: white;
	background-color: pink;
	padding:10px;
	border:1px solid black;
	display: inline-block;
	width: 20vw;
}
@media screen and (max-width: 600px) {
	nav li{
		display: block;
		width: 100vw;
		margin-right: 10px;
	}
	.grid {
		grid-template-columns: 1fr; 
	}
}



/*Added this so the links stay the same color*/
a:visited{color:#0000FF}

